@import "./sass/bootstrap";
@import "./sass/auth";
@import '~react-toastify/dist/ReactToastify.css';
@import "./sass/navbar";
@import "./sass/home";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #646965;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #968940, #25442f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBEBC0, #DBEBC0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background: #fafafa;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #dfdfde, #dedfde);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #d4d4d4, #cdcece); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

main {
    flex: 1 0 auto;
}


#pics {

    
    transition: transform .3s;
    margin: 0 auto;

}

#pics:active {
    transform: scale(1.4);

    

}



#pic {

    
    transition: transform .3s;
    margin: 0 auto;

}






#pic:hover {
    transform: scale(1.1);

    

}